#pin_show.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      =simple_form_for @pin do |pin|
        .panel-body
          =pin.input :title
          =pin.input :description
          =pin.input :picture, as: :file
          =pin.button :submit
